{% extends 'base.html.twig' %}

{% block body %}
    <h1>Signalements list</h1>

    <table border="1" cellpadding="15">
        <thead>
            <tr>
                <!------Ajouter ---->
                <th>User</th>
                <th>Article</th>
                <th>Commentaire</th>
                <th>Cause</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signalement in signalements %}
            <tr>
                <!------Ajouter ---->
                <td>{{ signalement.getUserSignalement }}</td>
                <td>{{ signalement.getSignalementsArticle }}</td>
                <td>{{ signalement.getSignalementsCommentaire}} </td>
                <td>{{ signalement.cause }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('signalement_show', { 'id': signalement.id }) }}">show</a>
                        </li>
                        <!------Ajouter ---->
                        <li>
                            <a href="{{ path('signalement_delete', { 'id': signalement.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('signalement_new') }}">Create a new signalement</a>
        </li>
    </ul>
{% endblock %}
