{% extends 'base.html.twig' %}

{% block body %}

    <H1>Liste des articles signalés</H1>
     <table border="1" cellpadding="15">
        <thead>
            <tr>
                <!------Ajouter ---->
                <th>Utilisateur</th>
                <th>Article</th>
                <th>Commentaire</th>
                <th>Cause</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signalement in signalementsArticle %}
            <tr>
                <!------Ajouter ---->
                <td>{{ signalement.getUserSignalement }}</td>
                <td>{{ signalement.getSignalementsArticle }}</td>
                <td>{{ signalement.getSignalementsCommentaire}} </td>
                <td>{{ signalement.cause }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('signalement_show', { 'id': signalement.id }) }}">Voir l'article</a>
                        </li>
                        <!------Ajouter ---->
                       <li> <a href="{{ path('signalement_delete_article', {'id': signalement.signalementsArticle.id }) }}">
                            Supprimer l'artcile          </a>
                        </li>
                        <li>
                            <a href="{{ path('signalement_delete', { 'id': signalement.id }) }}">Supprimer le signalement</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

<H1>Liste des commentaires signalés</H1>
    <table border="1" cellpadding="15">
        <thead>
            <tr>
                <!------Ajouter ---->
                <th>Utilisateur</th>
                <th>Article</th>
                <th>Commentaire</th>
                <th>Cause</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signalement in signalementsCommentaire %}
            <tr>
                <!------Ajouter ---->
                <td>{{ signalement.getUserSignalement }}</td>
                <td>{{ signalement.getSignalementsArticle }}</td>
                <td>{{ signalement.getSignalementsCommentaire}} </td>
                <td>{{ signalement.cause }}</td>
                <td>
                    <ul>
                        <!------Ajouter ---->
                        <li> <a href="{{ path('signalement_delete_commentaire', {'id': signalement.signalementsCommentaire.id }) }}">
                            Supprimer le commentaire  </a>
                        </li>
                        <li>
                            <a href="{{ path('signalement_delete', { 'id': signalement.id }) }}">Supprimer le signalement</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br>

<H1>Liste des utilisateurs signalés</H1>
    <table border="1" cellpadding="15">
        <thead>
            <tr>
                <!------Ajouter ---->
                <th>Utilisateur</th>
                <th>Utilisateur</th>
                <th>Article</th>
                <th>Commentaire</th>
                <th>Cause</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signalement in userSignalement %}
            <tr>
                <!------Ajouter ---->
                <td>{{ signalement.getUserSignalement }}</td>
                <td>{{ signalement.getSignalementsArticle }}</td>
                <td>{{ signalement.getSignalementsCommentaire}} </td>
                <td>{{ signalement.cause }}</td>
                <td>
                    <ul>
                        <!------Ajouter ---->
                        <li>
                            <a href="{{ path('signalement_delete', {id: signalement.id }) }}">Supprimer le signalement</a>
                        </li>
                         <!------Ajouter ---->
                        <li> <a  href="{{ path('signalement_delete_user', {'id': signalement.userSignalement.id }) }}" onclick="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?! ');" style="color: red; ">
                            Supprimer l'utilisateur ?  </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
